---
BasedOnStyle: Google
PointerAlignment : Left
PointerBindsToType: false
DerivePointerAlignment: false
SpacesBeforeTrailingComments: 1
---
Language: Proto
# Don't format .proto files.
DisableFormat: true