#==============================================================================#
# Files to ignore.
#==============================================================================#
/tests/benchmarks*
/cmd*
# Byte compiled python modules.
*.pyc

# vim swap files
.*.sw?
.sw?

#OS X specific files.
.DS_store

# build directory
/build*

# tag programs
/compile_commands.json
/CMakeSettings.json
/.idea
/tags
/TAGS
cscope.files
cscope.out
/.clangd

#==============================================================================#
# Directories to ignore.
#==============================================================================#
# VSCode config files.
.vscode
