[submodule "external/llvm"]
	path = external/llvm-project
	url = https://github.com/llvm/llvm-project.git
	branch = llvmorg-12.0.0

[submodule "tensorrt"]
	path = ODLA/external/tensorrt
	url = https://github.com/NVIDIA/TensorRT.git
	branch = release/8.0

[submodule "ODLA/platforms/odla_popart/custom_ops/third_party/onnx"]
	path = ODLA/platforms/odla_popart/custom_ops/third_party/onnx
	url = https://github.com/onnx/onnx.git
	branch = rel-1.6.0
